
/* Furo theme overrides */

h1 {
    margin-top: 1.75rem;
    overflow-wrap: break-word;
}

dd p.rubric {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    line-height: inherit;
    text-transform: uppercase;
}

/* End Furo theme overrides */

/* suppress download button and timing at top/bottom of every tutorial */
div.sphx-glr-download-link-note,
div.sphx-glr-download,
p.sphx-glr-timing {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Disable thumb container hover tooltip */
.sphx-glr-thumbcontainer[tooltip]:hover::before,
.sphx-glr-thumbcontainer[tooltip]:hover::after {
    display: none;
}


/* highlight backref name */
a[class^="sphx-glr-backref-module-truelearn"] span {
    color: #2878A2 !important;
    text-decoration: underline !important;
}

/* highlight backref name in dark mode */
body[data-theme="dark"] a[class^="sphx-glr-backref-module-truelearn"] span {
    color: #7bb0fa !important;
    text-decoration: underline !important;
}
